@import "_vars.scss";
@import 'modules/about_section.scss';
@import 'modules/introduction_section.scss'; 

// mobile version

body { background-color: white; }

.hidden { display: none; }

img, embed, object, video {
    max-width: 100%; }

.top-bg {
    // width: 100%;
    height: 707px;
    background: url(../images/bg_top_tablet.jpg);
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 70px;
}
.logo {
    width: 250px;
}
.top-logo{
    justify-content: center;
    margin: 0 auto;  
}


.container-footer {
    height: 1005px;
    background: url(../images/bg_bottom_mobail.png);
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // margin-bottom: 70px;
}
.footer-text {
     margin-top: 200px;

    h2{
        font-family: "Oswald";
        font-size: 72px;
        color: $color-orange;
        text-align: center;
    }

}
.social-media{
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.social-icon{
    width: 70px;
}


// tablet version

@media screen and (min-width: 440px){
    .dot{ 
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .but-con{
        width: 600px;
    }  
    .text-about{
        .text-con{
            font-size: 20px;
        }
    }
    .info-content{

        .info-text{
            font-size: 20px;
        }
    }
    .top-bg{ 
        background: url(../images/bg_top_desck.jpg);
        align-items: flex-start
    }
    .top-logo{
        margin-left: 45px;
        margin-top: 70px;
    }
    .footer-con {
        display: flex;
        // align-items: center;
    
    }
    .footer-text {
        margin-top: 200px;
        margin-left: 100px;
   
       h2{
          
           font-size: 90px;  
       }
   }
   .container-footer{
       margin-top: 200px;
       background: url(../images/bg_bottom_desck.png);
   }
   .social-media{
    margin-left: 0px;
    margin-right: 0px;
   }
}

// descktop version

@media screen and (min-width: 1200px){
    .top-logo{
        margin-left: 130px;
        margin-top: 100px;
    }
    .logo {
        width: 350px;
    }
    
    .info-content{

        .info-text{
            font-size: 24px;
            max-width: 1200px;
        }
        h2{
            font-size: 90px;
            
        }
    }
    .text-about{
        width: 850px;

        .text-con{
            font-size: 24px;
        }
        h3{
            font-size: 60px;  
        }
    }
    .about-info{
        display: flex;
        justify-content: space-evenly;
    }
    .container-about{
        max-width: 1920px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1600px){
    .footer-con{
        justify-content: flex-end;
        // width: 1200px;
    } 
    .footer-text{
        margin-right: 100px;
    }
    .footer-con{
        max-width: 1800px;
    }
}
