<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Nike Joyride</title>
</head>
<body>
    <h1 class="hidden">Joyride shoe</h1>
    <div class="container">
        <section class="introduction">
            <h2 class="hidden">Introduction section</h2>

            <div class="top-bg">
                <div class="top-logo">
                    <img src="../public/images/nike.png" alt="nike logo" class="logo">
                </div>
            </div>

            <div class="info-content">
                <h2>New <span class="blue-text">Joy</span>ride Sneakers</h2>
                <div class="info-text">
                    <p>The Nike Joyride Run Flyknit is designed to help make running feel 
                        easier and give your legs a day off. Tiny foam beads underfoot conform to your foot for cushioning that stands up to your mileage.
                    </p>
                </div>

                <div class="button-con">
                    <div class="dot dot-left"></div>
                    <div class="rounr-but"><a class="button" href="#">Buy Now</a></div>
                    <div class="dot dot-right"></div>
                </div>

            </div>
        </section>
    </div>
    <div class="container">
        <section class="about-info">
                <h2 class="hidden">About section</h2>

                <div class="text-about">
                    <h3>Innovative Cushioning System</h3>
                   <div class="text-con"> 
                       <P>We spent years obsessing the beads—finding the right size, shape 
                            and feel to deliver a soft,comfortable ride. Here’s how it works: Every time
                             you take a step—or stride—10,000+ beadsshape around your 
                            foot to provide personalized cushioning and support, before responsively
                            bouncing back to propel you forward.
                        </P>
                        <p>Nike Joyride is designed to work for every runner, at every stage 
                            of their journey. It helps keep your legs and feet feeling fresh, 
                            so you’ll want to go again—whether yesterday was the longest 
                            run of your life or your first run ever.
                         </p>
                    </div>
                </div> 

                <div class="img-about">
                    <img src="../public/images/shoe.jpg" alt="nike shoe" class="shoe">
                </div>
        </section>
    </div>

    <div class="container">
        <footer class="footer-con">
        <h2 class="hide">Footer Section</h2> 

        <div class="footer-text">
            <h2>Just Do It!</h2>
        </div> 

        </footer>
    </div>

</body>
</html>